aiohttp
alembic
beautifulsoup4
blinker==1.7.0 # Version known to work with selenium wire
lxml # dependency for beautifulsoup4 and selenium wire
cryptography # Additional dependency for selenium wire
fastapi
psycopg2_binary
pydantic
pydantic_core
pydantic_settings
pyOpenSSL # Additional dependency for cryptography
qdrant-client
ratelimit
requests
schedule
selenium_wire
sentence-transformers
SQLAlchemy_Utils
sqlmodel
tenacity
uvicorn